extends layout
block header
	div.header
		h1 KonnectPlay
block content
	div.container
		div.row
			div.col-sm-2
			div.col-sm-8
				form.form-horizontal(method="post",name='app-edit', id="app-edit", action="/app/app-edit/"+app._id)
					// - if(loginError == 1)
					// 	span= loginError
					div.form-group
						label.col-sm-2.control-label(for="app_name") App Name
						div.col-sm-10
							input.form-control(id="app_name", type="text", name="app_name", value=app.app_name)
					div.form-group
						label.col-sm-2.control-label App Type	
						div.col-sm-10
							div.col-sm-3
								div.radio
									label(for="android_app")
										input(id="android_app", type="radio", name="app_type", value="android" checked=app.app_type=="android") 
										| Android
							div.col-sm-3
								div.radio
									label(for="iphone_app")
										input(id="iphone_app", type="radio", name="app_type", value="iphone" checked=app.app_type=="iphone")
										| Iphone
							div.col-sm-4
								div.radio
									label(for="unity_app")
										input(id="unity_app", type="radio", name="app_type", value="unity" checked=app.app_type=="unity")
										| Unity 3D
					div.form-group
						label.col-sm-2.control-label(for="app_url") App Url
						div.col-sm-10
							input.form-control(id="app_url", type="text", name="app_url", value=app.app_url)
					div.form-group
						div.col-sm-offset-2.col-sm-10
							input.btn.btn-default(type="submit", value="Submit")
			div.col-sm-2
	div.footer

block footer